.card {
  padding: 20px 0;
  border-bottom: 2px solid var(--secondary);
  padding-bottom: 20px;
}
.card-container {
  display: flex;
  justify-content: space-between;
}
.details{
    display: flex;
    gap: 2px;
    justify-content: flex-end;
}
.details p{
    border-bottom: 0;
}
.card button{
    padding: 8px 18px;
}